<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your job application has been viewed</h1>
<p>Hello <%= @user.name %>,</p>
<p>We wanted to let you know that your job application for <%=@job_title%> has been viewed.</p>
</body>
</html>
